{% extends "base.html" %} 

{% block title %}Home{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="https://wallpapercave.com/uwp/uwp2551748.png"
                    style="width: 185px;" alt="logo">
                </div>
<form method="post">
      <div class="form-group">
        <p class="text-danger">Email address:</p>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <div class="form-group">
        <p class="text-danger">Password</p>
        <input type="password" class="form-control" name="pswd" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn login_btn">Login</button>
      <p class="message">Not registered? <a href="/signup"> Register Now!</a></p>
</form>
</div>
</div>
<div class="col-lg-6 d-flex align-items-center gradient-custom-2">
  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
    <h2 class="mb-4">Find your family...       </h2>
    <p class="small mb-0">             As 21st century has changed the world we live in, the world is more connected than ever before and is one small village. People from one end of the world travel across the globe and live in different places of the world, to meet their aspiration, for work, passion, hobbies and any other reasons.
      There are many social networking platforms to stay connected with friends. It is equally important to stay connected with one’s family all the more, for the millennials and young generations who are global citizens and far from home land, to stay connected with family, origin and roots. Family roots, customs, culture define who we are 
      With this endeavor to keep all connected, it is our effort to bring this platform to you..
      We bring you VD to build and your family tree and connect with your family, know your ancestors,  live your customs.</p>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

</head>
</html>





{% endblock content %}
