{% extends "user_base.html" %}  

{% block user_content %}


{% if user %}
<section>
    <div class="container reveal fade-bottom">
      <div class="text-container">
        
            <div class="banner">
                <h1>My Biography:</h1>
            </div>
            <form method="post" class=container enctype="multipart/form-data">
                <textarea  class="notes" placeholder="Write  your  story...."></textarea>
            </form>
        
      </div>
    </div>
</section>

{% endif %}

{% endblock user_content %}
