{% extends "user_base.html" %}  

{% block user_content %}


{% if user %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <p style='color:black' class='success_message'>{{ message }}</p>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<section>
    <div class="container reveal fade-bottom">
      <div class="text-container">
        
            <div class="banner">
                <h1>My Biography:</h1>
            </div>
            <form method="post" class=container enctype="multipart/form-data">
                <textarea  class="notes" name="bio" placeholder="Write  your  story...."></textarea>
                <input type='submit' value="Submit">
            </form>
        
      </div>
    </div>
</section>

{% endif %}

{% endblock user_content %}
