{% extends "user_base.html" %}  

{% block user_content %}


{% if user %}
<html>
<head>
<body>
<style>
    .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}       
</style>

<form method="post" class=container enctype="multipart/form-data">
            <h1>Personal Details:</h1>
            <div class="grid-container" >
            <div>
                <label for="Sur name">Name:</label>
                <input type="text" class="form-control" name="name" placeholder="Enter your Name">
            </div>
            <div>
                <label for="Middle name">Middle Name:</label>
                <input type="text" class="form-control" name="Middle_name" placeholder="Enter your Middle name">
            </div>
            <div>
                <label for="Last name">Last Name:</label>
                <input type="text" class="form-control" name="l_name" placeholder="Enter your last name">
            </div>
            <div>
                <label for="Gotra">Gotra:</label>
                <input type="text" class="form-control" name="Gotra" placeholder="Enter your Gotra">
            </div>
            <div>
                <label for="Religion">Religion:</label>
                <input type="text" class="form-control" name="Religion" placeholder="Enter your Religion">
            </div>
            <div>
                <label for="Cast">Caste:</label>
                <input type="text" class="form-control" name="Caste" placeholder="Enter your Caste">
            </div>
            <div>
                <label for="Sub cast">Sub Caste:</label>
                <input type="text" class="form-control" name="Sub cast" placeholder="Enter your Sub Caste">
            </div>
            <div>
                <label for="Native town">Native Place:</label>
                <input type="text" class="form-control" name="Native town" placeholder="Enter your Native Place">
            </div>
            <div>
                <label for="Mother tongue">Mother tongue:</label>
                <input type="text" class="form-control" name="Mother tongue" placeholder="Enter your Mother tongue">
            </div>
            <div>
                <label for="Place of Birth">Place of Birth:</label>
                <input type="text" class="form-control" name="Place of Birth" placeholder="Enter your Place of Birth">
            </div>           
        </div><br>
    <div>
        <button type="submit" class="btn profile_btn">submit</button>
    </div>
</form>
  

<form method="post" class=container enctype="multipart/form-data">
    <h1>Personal details</h1>
            <div class="grid-container" >
                <div>
                    <label for="Father name">Father Name:</label>
                    <input type="text" class="form-control" name="Father Name" placeholder="Enter your Father Name">
                </div>
                <div>
                    <label for="Mother name">Mother name:</label>
                    <input type="text" class="form-control" name="Mother name" placeholder="Enter your Mother name">
                </div>
                <div>
                    <label for="Grand Father name">Grand Father Name:</label>
                    <input type="text" class="form-control" name="Grand Father Name" placeholder="Enter your Grand Father Name">
                </div>
                <div>
                    <label for="Grand Mother name">Grand Mother name:</label>
                    <input type="text" class="form-control" name="Grand Mother name" placeholder="Enter your Grand Mother name">
                </div>
                <div>
                    <label for="Spouse name">Spouse Name:</label>
                    <input type="text" class="form-control" name="Spouse name" placeholder="Enter your Spouse name">
                </div>
            </div>     
                    <label for="Kids">Kids:</label>
                    <input type="text" class="grid-container" name="Kid 1" placeholder="Enter name of Kid 1">
                    <input type="text" class="grid-container" name="Kid 2" placeholder="Enter name of Kid 2">
                    <input type="text" class="grid-container" name="Kid 3" placeholder="Enter name of Kid 3">
                    <input type="text" class="grid-container" name="Kid 4" placeholder="Enter name of Kid 4"><br>
                
                <button type="submit" class="btn profile_btn">submit</button>
            
</form>
</body>
</head>
</html>






{% endif %}

{% endblock user_content %}
